.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.centerTable {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 30px;
}

button {
    width: auto;
    min-width: 70px;
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputStreet {
    width: 40px;
}

.inputAvenue {
    width: 40px;
}

.standort{
    margin-top: 20px;
}